:root {
  font-family: "Montserrat", "Montserrat-fallback", Arial, sans-serif;
  color-scheme: light dark;
  color: #222222;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
p {
  font-family: "Montserrat";
}

/* Prevent background scroll when menu is open */
html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
  touch-action: none;
}
