/* delete */
.main-container {
  border: 1px solid black;
}

.hero {
  border: 1px solid red;
  display: flex;
  font-family: "Formular";
  font-size: 120px;
  color: black;
  justify-content: flex-end;
  position: absolute;
  margin: 0px;
  padding: 0px;
  padding-left: 235px;
  top: 80px;
}

.line1-fixed {
  position: relative;
}

.hero-typewriter {
  display: inline;
  white-space: pre-wrap;
}
