.hero {
  width: 100%;
  display: flex;
  color: #000;
}

.hero-title {
  font-size: 120px;
  text-align: left;
  word-break: break-word;
}

.hero-typewriter {
  display: inline;
  white-space: pre-wrap;
}
