.scroll-section {
  height: 100vh;
  position: relative;
  margin-top: 20px;
  margin-bottom: 160px;
}

.container {
  position: sticky;
  top: 0px;
  height: 100vh;
  width: 2950px;
}

/* @media (min-width: 1920px) {
  .container {
    top: 20%;
    height: 65vh;
    width: 3500px;
  }
}

@media (min-width: 900px) {
  .scroll-section {
    margin-left: 10%;
  }

  .container {
    top: 20%;
    left: 100%;
    height: 65vh;
    width: 2950px;
  }
} */

.fact {
  position: absolute;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 155px;
  left: 470px;
  top: 10px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.img2 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 155px;
  left: 0px;
  top: 360px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.img3 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 155px;
  left: 600px;
  top: 550px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.img4 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 140px;
  left: 1230px;
  top: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.img5 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 160px;
  left: 1580px;
  top: 470px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.img6 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 260px;
  left: 1720px;
  top: 320px;
  border-radius: 60px;
}
.img7 {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 150px;
  left: 2520px;
  top: 420px;
  border-radius: 50%;
}

.fact p {
  font-size: 22px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  margin: 0px;
  margin-bottom: 10px;
}

.fact1 {
  background-color: #b4fb6d;
  color: black;
  max-width: 415px;
}

.fact2 {
  background: #212121;
  border: 1px solid var(--text-color);
  color: white;
  max-width: 310px;
  top: 440px;
  left: 280px;
}

.fact3 {
  background: #ffffff;
  border: 1px solid black;
  color: black;
  max-width: 435px;
  top: 0px;
  left: 485px;
}

.fact4 {
  border: 1px solid var(--text-color);
  background: #212121;
  color: white;
  max-width: 310px;
  top: 0px;
  left: 990px;
}

.fact5 {
  background: #ffffff;
  color: black;
  border: 1px solid black;
  max-width: 435px;
  top: 370px;
  left: 840px;
}

.fact6 {
  color: white;
  background-color: #e88fb2;
  max-width: 280px;
  top: 470px;
  left: 1340px;
}
.fact7 {
  color: black;
  background-color: #b4fb6d;
  max-width: 505px;
  top: -80px;
  left: 1370px;
}

.fact8 {
  border: 1px solid var(--text-color);
  color: white;
  background-color: #212121;
  max-width: 300px;
  top: 0px;
  left: 1940px;
}

.fact9 {
  background: #ffffff;
  color: black;
  border: 1px solid black;
  max-width: 435px;
  top: 370px;
  left: 1780px;
}

.fact10 {
  color: white;
  background-color: #e88fb2;
  max-width: 375px;
  top: 115px;
  left: 2280px;
}
