.marquee {
  font-weight: 300;
  font-size: 24px;
  color: black;
  background-color: #b4fb6d;
  padding: 10px 0;
  margin-bottom: 105px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marquee-text {
  margin: 0px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media screen and (max-width: 900px) {
  .marquee {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 5px 0px;
    font-size: 18px;
    width: 100%;
  }
}
