.marquee {
  position: relative;
  font-family: "Formular";
  font-weight: 300;
  font-size: 24px;
  background-color: #b4fb6d;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  /* rotate: -1.95deg; */
  margin-bottom: 105px;
}

.marquee-content {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  animation: marquee 20s linear infinite;
}

.marquee-content span {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
