.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-bottom: 20px;
  transition: all 0.3s ease;
}

.navbar-container.default {
  opacity: 0;
}

.navbar-container.scrolled {
  transition: backgroun-color 0.3s ease;
  background: var(--bg-nav-color);
  backdrop-filter: blur(12px);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.Links {
  display: flex;
  gap: 40px;
  flex: 1;
  justify-content: center;
}

.Links a {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  color: inherit;
}

.nav-buttons {
  display: flex;
  color: var(--text-color);
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 30px;
}

.nav-buttons button {
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Montserrat";
}

@media screen and (max-width: 1024px) {
  .navbar {
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
  }

  .Links {
    gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .Links a {
    font-size: 20px;
  }

  .nav-buttons {
    gap: 10px;
  }

  .nav-buttons button {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    margin-top: 15px;
  }

  .Links {
    gap: 10px;
  }

  .Links a {
    font-size: 18px;
  }

  .nav-buttons {
    gap: 10px;
  }

  .nav-buttons button {
    font-size: 18px;
  }
}
