.scrolldown-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrolldown-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 60s linear infinite;
  transform-origin: 50% 50%;
}

.emoji-pointer {
  position: absolute;
  font-size: 54px;
  opacity: 1;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.emoji-pointer:hover {
  animation: bounce 0.6s infinite alternate ease-in-out;
}

@keyframes bounce {
  from {
    transform: translateY(0px) rotate(-90deg);
  }
  to {
    transform: translateY(-5px) rotate(-90deg);
  }
}

.projects {
  display: grid;
  font-family: "Montserrat";
  max-width: 1180px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 60px;
}

/* .projects > div:nth-child(2n) {
  margin-top: 60px;
} */

.project-img {
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(30, 30, 30, 0.592);
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.project-image-wrapper {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.project-image-wrapper:hover .overlay {
  opacity: 1;
}

.overlayBtnDeploy {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  color: black;
  background-color: #b4fb6d;
}
.overlayBtnGit {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  background-color: #e06998;
}

.overlayBtnDeploy:hover {
  background-color: #99e255;
}
.overlayBtnGit:hover {
  background-color: #d85e8f;
}

.projectHeader {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 36px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.projectDescription {
  font-family: "Montserrat";
  color: #4e4e4e;
  font-size: 20px;
  padding: 0px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
  white-space: nowrap;
  text-align: center;
}

.tag.category1 {
  background-color: #e06998;
  color: white;
}

.tag.category2 {
  background-color: #d9d9d9;
  color: black;
}

.tag.category3 {
  background-color: #ffffff;
  color: black;
}

.project-wrapper.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-wrapper.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-wrapper.delay-0 {
  transition-delay: 0.2s;
}
.project-wrapper.delay-1 {
  transition-delay: 0.4s;
}
.project-wrapper.delay-2 {
  transition-delay: 0.6s;
}
.project-wrapper.delay-3 {
  transition-delay: 0.8s;
}

.allProjectsButton {
  cursor: pointer;
  max-width: 1180px;
  width: 100%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 120px;
  padding: 20px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 300;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: transparent;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.allProjectsButton:hover {
  background-color: #e06998;
  border: none;
  color: white;
}

.experience-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1180px;
  width: 100%;
}
.h2 {
  font-family: "Montserrat";
  font-size: 74px;
  padding-left: 295px;
  margin: 0px;
  margin-bottom: 40px;
}

.date {
  color: #666666;
  font-size: 22px;
  margin: 0px;
}

.h4 {
  font-family: "Montserrat";
  font-size: 28px;
  margin: 0px;
  margin-top: 10px;
}

.toggleVisibleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleAll {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 120px;
}

.toggle {
  position: relative;
  border: 1px solid var(--accent-color);
  border-radius: 30px;
  padding: 30px 45px;
  overflow: hidden;
}

.toggle.active {
  transform: scale(1.01);
}

.toggle.active::before {
  content: "";
  position: absolute;
  bottom: -150px;
  right: -130px;
  width: 420px;
  height: 440px;
  background: radial-gradient(circle, #b4fb6d 0%, rgba(180, 251, 109, 0) 70%);
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
}

.toggle * {
  position: relative;
  z-index: 1;
}

.experienceDesc {
  font-size: 24px;
  padding-right: 70px;
}

.toggleButton {
  position: relative;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggleButton::before,
.toggleButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 3px;
  background-color: var(--text-color);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.toggleButton::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.toggleButton::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.toggleButton.active::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.toggleButton.active::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.toggleCard {
  transition: all 0.3s ease-in-out;
}
.toggleCard:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 1020px) {
  .emoji-pointer {
    font-size: 45px;
  }

  .scrolldown-wrapper {
    width: 8.5rem;
    height: 8.5rem;
  }

  .toggleAll {
    width: 75%;
    align-self: center;
  }

  .projectsContainer {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
  }

  .projects {
    row-gap: 40px;
  }
}
