.hero {
  /* border: 1px solid red; */
  font-size: 120px;
  font-family: "Formular";
  font-weight: 400;
  color: black;
  justify-content: flex-end;
  position: absolute;
  margin: 0px;
  padding: 0px;
  padding-left: 235px;
  top: 80px;
  line-height: 130px;
}

.line1-fixed {
  position: relative;
}

.hero-typewriter {
  display: inline;
  white-space: pre-wrap;
}
