.hero {
  font-size: 120px;
  font-family: "Montserrat";
  font-weight: 500;
  justify-content: flex-end;
  position: absolute;
  margin: 0px;
  padding: 0px;
  padding-left: 295px;
  top: 80px;
  line-height: 130px;
}

.line1-fixed {
  position: relative;
}

.hero-typewriter {
  display: inline;
  white-space: pre-wrap;
}
